MYSQL_ROOT_PASSWORD: root_password
MYSQL_DATABASE: lab2_db
MYSQL_USER: lab2_user
MYSQL_PASSWORD: lab2_pass
MYSQL_HOST: db
PMA_HOST: db

APP_SALT: "change_me" # MD5 salt

BCRYPT_COST: "12" # bcrypt config

# Argon2 config
ARGON2_MEMORY: "65536"   # KB
ARGON2_TIME: "4"
ARGON2_THREADS: "2"

# scrypt config
SCRYPT_N: "16384"
SCRYPT_R: "8"
SCRYPT_P: "1"